
body {
    margin: 0;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    margin: 0 10px 0;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}

hr{
    background-color: white;
    border-style: none;
}

ul
{
list-style-type: none;
}

.profile{
    border-radius: 50%;
}

.intro {
    background-color: #d3f4ff;
}

.experience {
    background-color: #b2dffb;
}

.education {
    background-color: #e7a4e4;
}


.skills {
    background-color: #ffc55c;
}

.software{
    text-decoration: underline;
}