
body {
    margin: 0;
    background-color: #d3f4ff;
}


hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 20px;
    width: 5%;
}

ul
{
list-style-type: none;
}

.profile{
    border-radius: 50%;
}

.intro {
  
}

.experience {
    
}

.education {
   
}


.skills {
   
}

.software{
    text-decoration: underline;
}